* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Green: hsl(75, 94%, 57%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
}

@font-face {
  font-family: Inter;
  src: url(assets/fonts/static/Inter-Regular.ttf);
}

body {
  background-color: var(--OffBlack);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  color: var(--White);
  font-size: 14px;
  text-align: center;
}

.wrapper {
  width: 26%;
  background-color: var(--DarkGrey);
  border-radius: 0.7rem;
  padding: 2.5rem;
}

img {
  width: 100px;
  display: block;
  border-radius: 50%;
  margin: auto;
}

.name {
  font-size: 25px;
  margin-top: 2rem;
}

.country {
  color: var(--Green);
  margin-top: 0.5rem;
  font-weight: 600;
}

.description {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.7);
}

.applications-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.applications-links a {
  display: block;
  text-decoration: none;
  background-color: var(--Grey);
  color: var(--White);
  height: 40px;
  border-radius: 0.4rem;
  line-height: 40px;
  font-weight: 600;
}

.applications-links a:active {
  background-color: var(--Green);
  color: var(--OffBlack);
}
